@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #e4e4e4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1600px;
    height: 800px;
    margin: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #dbdbdb;
    border-top: 20px solid #00d977;
}

.box h1 {
    font-size: 2.3em;
    margin-bottom: 28px;
    margin-left: 18px;
}

.div-insert-task {
    display: flex;
    margin-left: 15px;
}

.input-insert-task {
    width: 500px;
    height: auto;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    outline: none;
    font-size: 18px;
}

.btn-insert-task {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 530px;
    margin-top: 10px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #00d977;
    cursor: pointer;
}

.btn-insert-task:hover {
    background-color: #00d977;
    color: #fff;
    transition: 1s;
    transform: scale(1.1);
    margin-left: 530px;
}

.i-list {
    margin-right: 8px;
}
